name: Build and test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: temurin
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: false
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build test
      - name: Upload artifacts
        uses: actions/upload-artifact@master
        with:
          name: Lusk-Test.jar
          path: build/libs/*.jar
      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "build/test-results/**/TEST-*.xml"
        if: always()

  skript_test:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: extra-plugins/
          merge-multiple: true

      - name: Run tests
        uses: SkriptLang/skript-test-action@v1.1
        with:
          test_script_directory: src/test/scripts
          extra_plugins_directory: extra-plugins/-plugins/